body {
    margin:0;
}

.order-liste img:hover, .destro-liste img:hover {
    transform: scale(0.9);
}


.gearpics {
    width:80px; 
    height: 88px;
}

.gearpics:hover{
    transform: scale(5);
    cursor: pointer;
}

.faction-select {
    text-decoration:none;
}

.faction-select:hover {
    transform: scale(1.2);
}