<!doctype html>
<html lang="fr">

	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Paratagez vos collections d'objets préférées">

		<link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">

		<title>{% block title %}{% endblock %}War-optimiser</title>
	</head>
	
	<body>
			<header>
					<p>warhammer optimiser</p>
			</header>

			<main>
				
			</main>

			{% block body %}{% endblock %}

			<footer>
				
			</footer>
	</body>
</html>