{% extends 'base.html.twig' %}

{% block body %}
<h2 style="text-align:center; text-transform:uppercase;"> select your class </h2>
     <div class="order-liste" style="width: 100%;
    height: 400px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 2rem;
    font-size: 20px;">
        {% for classe in classes %}
           <a style="text-decoration:none;" href="{{ path('app_classe', { id : classe.id })}}"> <img src="{{asset('asset/images/classe/' ~ classe.picture)}}"></a>
        {% endfor %}
    <div>
{% endblock %}